.root {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: 240px;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
}

.images {
  position: relative;
  display: flex;
}

.symbol {
  width: 58px;
  height: 58px;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 2px;
  background-color: #141414;
  box-shadow: 0 0 0 1px var(--cc-color-background);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.right {
  display: flex;
  align-items: flex-start;
  column-gap: 2px;
}

.balance,
.title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.description {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  opacity: 0.35;
}

.arrow-icon {
  display: flex;
  padding: 1px;
  opacity: 0.5;
}
