.root {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  width: 100%;
  background-color: var(--cc-color-background);
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(8 45 61 / 0.2), 0 4px 12px 0 rgba(8 45 61 / 0.1);
  border: solid 0.5px rgba(255 255 255 / 0.2);
  overflow: hidden;
  outline: none;
}

.tabs {
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 0 12px;
}

.input {
  padding: 4px 5px 0;
}

.content {
  position: relative;
  height: 100%;
  min-height: 176px;
  overflow: auto;
  padding-bottom: 16px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255 255 255 / 0.5);
    border: 3px solid var(--cc-color-background);
    border-radius: 4px;
  }
}

.list {
  list-style-type: none;
}

.list-item {
  padding: 6px 10px 6px 17px;
  cursor: pointer;
  transition: background-color 100ms;

  &:hover {
    background-color: #141414;
  }
}
