.root {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.title,
.balance {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.12px;
}
