.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  padding-bottom: 8px;
}

.content {
  display: inherit;
  flex-direction: inherit;
  flex: 1;
}

.tabs-content {
  display: inherit;
  flex-direction: inherit;
  flex: 1;
}

.tabs {
  flex: 1;
}

.tab {
  margin-top: 3px;
}

.bottom-navigation {
  margin: 0 2px 2px;
}
