.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  background-color: #141414;
  padding: 4px 0;
  border-radius: 4px;
}

.tab {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.1px;

  border-radius: 8px;
  padding-top: 7px;
  padding-bottom: 6.5px;

  font-size: 8px;
  font-weight: 700;
  line-height: 12px;

  user-select: none;
  cursor: pointer;

  &.active {
    background-color: var(--cc-color-primary);
  }
}

.unpin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 16px;
  height: 16px;
  background-color: var(--cc-color-background);
  border-radius: 50%;
  cursor: pointer;
}
