.root {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex: 1;
}

.image {
  align-self: center;
}
