.root {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--cc-color-primary);
  border-radius: 8px;
  height: 39px;
  padding-left: 12px;
  padding-right: 10px;
  font-size: 14px;

  &.clickable {
    cursor: pointer;
  }
}

.icon {
  display: flex;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
