.root {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  height: inherit;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}

.title {
  align-self: center;
  font-weight: 700;
}
