.root {
  margin: 12px 6px 0;
}

.segments {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--count), 1fr);
  grid-column-gap: 4px;
}

.segment {
  position: relative;
  background-color: #141414;
  height: 2px;

  &.color {
    background-color: var(--color);

    &:not(:first-child) {
      &::before {
        content: '';
        position: absolute;
        left: -8px;
        top: 0;
        width: 10px;

        height: inherit;
        background-color: inherit;
      }
    }
  }
}

.text {
  font-size: 10px;
  line-height: 12px;
  padding: 6px 6px 0;
  opacity: 0.5;
}

.strength-line {
  position: absolute;
  grid-template-columns: repeat(var(--max), 1fr);
}
